*{
    padding: 0;
    margin: 0;
    font-family: cursive;
    box-sizing: border-box;
}
div{
    height: 130px;
    width: 100px;
    background-color: aqua;
    border-radius: 5px;
    display: grid;
    place-items: center;
}
.asd{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    }